// colors
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$gray-blue: hsl(229, 8%, 60%);
$dark-blue: hsl(229, 31%, 21%);
$white: #fff;



// font
$ff-primary: 'Rubik', sans-serif;

// font-size
$fs-default: 1.125rem;

//font-weight
$fw-400: 400;
$fw-500: 500;